:root {
    --bg-color: red;
}

body {
    background-color: var(--bg-color);
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-family: Trattatello, cursive;
    font-size: 90px;
    margin-bottom: 50px;
    color: yellow;
}

.container {
    display: grid;
    justify-content: center;
}

ul {
    border: 3px solid black;
    padding: 10px;
    list-style-type: none;
    width: 800px;
}

li {
    padding-bottom: 10px;
}

.btn-primary {
    font-size: 20px;
    font-family: OCR A Std, monospace;
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border-color: black;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
    margin-left: 5px;
}

.btn-primary:active {
    background-color: gold;
    box-shadow: 2px 2px 2px black;
    font-size: 15px;
}

.btn-primary:hover {
    background-color: rgb(250, 225, 0);
    border: 3px solid black;
    color: black;
}

/* Pokemon Modal */

#pokemon-modal {
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 25%;
    background-color: rgb(167, 5, 5);
    height: 390px;
    width: 300px;
}

.modal-content {
    color: rgb(11, 184, 11);
    font-family: Courier, monospace;
    font-weight: bold;
    position: relative;
    width: 80%;
    left: 13%;
    margin-bottom: 20px;
    padding-top: 10px;
    background-color: rgb(214, 212, 212);
}



.Pokeheight, .Poketype, .Pokename {
    text-align: center;
    user-select: none;
}

.Pokeheight, .Poketype {
    font-size: 20px;
}

.Pokename {
    font-size: 25px;
    font-weight: bold;
}

.img-container {
    display: flex;
    justify-content: center;
    user-select: none;
}

.PokeImage {
    width: 60%;
}

#search-bar {
    width: 148px;
}